/*layout*/
.grid2x2 {
    display: grid;
    grid-template-columns: 70vw 28vw;
    grid-template-rows: 70vh 28vh;
    justify-items: center;
    align-items: center;
    grid-gap: 1vw;
}

.flex-container1 {
            /*Display FlexBox*/
            display: flex;
            flex-wrap: wrap;
            width: 28vw;
            height: 28vw;
        }
        .flex-movecross {
            width: 33.3333%;
            height: 33.3333%;
        }

.flex-container2 {
            /*Display FlexBox*/
            display: flex;

            flex-wrap: wrap;
            width: 670px;
            height: auto;
        }
        .flex-setting {
            width: 100%;
            height: 40px;
            margin: 15px;
        }